---
layout: home
---
<div class="col-6 offset-3">
    <img src="img/name.png" class="img-fluid" alt="Monkey Jack header">

    <div class="card text-bg-dark">
        <div class="card-header">
            <h4 style="margin-bottom: 0">About</h4>
        </div>
        <div class="card-body">
            <p class="card-text">
                <img src="img/mj1.png" alt="Monkey Jack" style="max-height: 140px; float: left; margin-right: 1em;">
                The Representatives of Monkey Jack are a four-piece alternative rock outfit from
                Bonn, Germany with influences ranging from pop to metal, classical, jazz, and
                folk. Their songs feature human narratives flickering between reminiscing and
                brooding that emerge in a wide tonal spectrum from gentle, thoughtful, acoustic
                passages to errant, merciless, head-banging breakdowns.
            </p>
        </div>
    </div>

    <div class="card text-bg-dark">
        <div class="card-header">
            <h4 style="margin-bottom: 0">Events</h4>
        </div>
        <ul class="list-group list-group-flush">
            {% for show in site.data.shows %}
            <li class="list-group-item list-group-item-dark">
                {{ show.date }} -
                {% if show.event %}
                {{ show.event }} (at {{ show.venue }})
                {% else %}
                {{ show.venue }}
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="card text-bg-dark">
        <div class="card-header">
            <h4 style="margin-bottom: 0">Songs</h4>
        </div>
        <ul class="list-group list-group-flush">
            {% for song in site.pages %}
            {% if song.url contains "songs" %}
            <li class="list-group-item list-group-item-dark">
                <img src="{{ song.image }}" style="max-height: 45px;"/>
                <a href="{{ song.url }}">
                    {{ song.title }}
                </a>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>
