---
layout: home
---

<div class="smack" style="margin-top: 2em; padding-bottom: 2em; margin-bottom: 2em;">
    <div class="col-6 offset-3">
        <img src="img/name.png" class="img-fluid" alt="Monkey Jack header"/>

        <div class="mb-3 justify-content-evenly">
            <a class="btn btn-light" href="https://instagram.com/repsmonkeyjack">
                <i class="bi bi-instagram"></i> Instagram
            </a>
            <a class="btn btn-light" href="https://facebook.com/repsmonkeyjack">
                <i class="bi bi-facebook"></i> Facebook
            </a>
            <a class="btn btn-light" href="https://repsmonkeyjack.bandcamp.com">
                <i class="bi bi-boombox"></i> Bandcamp
            </a>
            <a class="btn btn-light" href="https://backstagepro.de/repsmonkeyjack">
                <i class="bi bi-file-music"></i> Backstage Pro
            </a>
            <!--
            <a href="https://linktr.ee/repsmonkeyjack">Linktree</a>
        -->
        </div>
    </div>
</div>

<div class="container" style="margin-top: 2em; margin-bottom: 2em;">
    <div class="card card-highlight">
        <div class="card-body">
            <p class="card-text">
                <!--<img
                        src="img/mj1.png"
                        alt="Monkey Jack"
                        style="max-height: 140px; float: left; margin-right: 1em"
                />-->
                The Representatives of Monkey Jack are a four-piece alternative rock
                outfit from Bonn, Germany with influences ranging from pop to metal,
                classical, jazz, and folk. Their songs feature human narratives
                flickering between reminiscing and brooding that emerge in a wide tonal
                spectrum from gentle, thoughtful, acoustic passages to errant,
                merciless, head-banging breakdowns.
            </p>
        </div>
    </div>

    <div class="card-group card-highlight">
        {% for member in site.data.members %}
        <div class="card">
            <img src="{{ member.image }}" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">{{ member.name }}</h5>
                <p class="card-text">
                    {{ member.role }}<br/>
                    <a href="https://instagram.com/{{ member.instagram }}">@{{ member.instagram }}</a>
                </p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<div class="smack2" style="margin-top: 4em; padding-top: 4em; padding-bottom: 1em">
    <div class="container">
        <div class="card card-highlight">
            <div class="card-header">
                <h4 style="margin-bottom: 0">Events</h4>
            </div>
            <ul class="list-group list-group-flush">
                {% for show in site.data.shows %}
                {% unless show.cancelled %}
                <li class="list-group-item list-group-item">
                    {{ show.date }} - {% if show.event %} {{ show.event }} (at {{ show.venue
                    }}) {% else %} {{ show.venue }} {% endif %} - {{ show.city }}
                    {% if show.tickets %}
                    <br/><a href="{{ show.tickets }}">Tickets</a>
                    {% endif %}
                </li>
                {% endunless %}
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

<div class="container" style="margin-top: 2em; margin-bottom: 2em;">
    <div class="card card-highlight">
        <div class="card-header">
            <h4 style="margin-bottom: 0">Riders</h4>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item list-group-item">
                <a href="https://bit.ly/monkey-jack-press-kit">Press Kit</a>
            </li>
            <li class="list-group-item list-group-item">
                <a href="https://photos.app.goo.gl/i1m5kFyAsgLqbY9N9">Photo Album</a>
            </li>
            <li class="list-group-item list-group-item">
                <a href="https://bit.ly/monkey-jack-technical-rider">
                    Technical Rider
                </a>
            </li>

        </ul>
    </div>

    <div class="card card-highlight">
        <div class="card-header">
            <h4 style="margin-bottom: 0">Songs</h4>
        </div>
        <div class="card-body">
            <p class="card-text">
                While we're hard at work recording our first songs, we already want to share with you some of our
                lyrics.
            </p>
        </div>
        <ul class="list-group list-group-flush">
            {% for song in site.pages %} {% if song.url contains "songs" %}
            <li class="list-group-item list-group-item">
                <img src="{{ song.image }}" style="max-height: 45px" alt="silly art for {{ song.title }}"/>
                <a href="{{ song.url }}"> {{ song.title }} </a>
            </li>
            {% endif %} {% endfor %}
        </ul>
    </div>
</div>

<footer>
    <img src="img/DSCF0030.png" class="img-fluid" alt="what is a banana"/>
</footer>