<style>

  .smack {
    background-image: url("img/bg2.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    background-position: center top;
  }

  .smack2 {
    background-image: url("img/DSCF0971.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    background-position: center top;
  }


  .card-highlight {
    /*background-color: rgba(255, 0, 255, 0.7);*/
    box-shadow: 0px 0px 20px #e1633d;
    /*color: #fff;*/
    margin-bottom: 2.5rem;
  }
</style>
